<!DOCTYPE html>
<html>
<head>
    <title>Changing vacancy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
  <body>
  <h1 class="text-center">Here you can change vacancy data</h1>
    <div class="container">
      <br>
      <form action="" method="post">
        <input type="text" name="name" value=" {{ vac.name  }} " required> <br><br>
        <select name="idd" class="selectpicker form-control" required>
        <option value="">None</option>
        {% for d in deps %}
          <option value="{{ d.id }}">{{ d.name }}</option>
          <br><br>
        {% endfor %}
        </select>
        <br><br>
        <input class="btn btn-default" name="input1" type="submit" value="Submit changes">
      </form><br>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>