<!DOCTYPE html>
<html>
  <head>
    <title>New vacancy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h2>Select position in department</h2>
      <br>
      <form action="" method="post">
        <input type="hidden" name="isname" value="{{ name }}">
        <input type="hidden" name="isid" value="{{ idd }}">
          <select name="idp" class="selectpicker form-control" required>
          <option value="">None</option>
            {% for p in Position.query.filter_by(idd=idd).all() %}
            <option value="{{ p.id }}">{{ p.name }}</option>
            {% endfor %}
          </select>
          <br><br>
        <input class="btn btn-default" name="input2" type="submit" value="Submit data">
      </form><br>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>