<!DOCTYPE html>
<html>
<head>
  <title>{{ department.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
  <body>
  <h2>Name: {{ department.name }} </h2>
  <h2>Description: {{ department.description }} </h2>
  <h2>Workers in this department:</h2>
      {% for d in workers %}
        <h3><a href="/workers/{{ d.id }}">{{ d.name}}</a></h3>
      {% endfor %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</body>
</html>