<!DOCTYPE html>
<html>
<head>
  <title>{{ department.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="col-sm-4"><h3 class="text-center"><a href="/">Main page</a></h3></div>
  <div class="col-sm-4"><h3 class="text-center"><a href="/departments">Back to departments</a></h3></div>
  <div class="col-sm-4"><h3 class="text-center"><a href="/departments/{{ department.id }}/change">Change department</a></h3></div>
  <div class="col-sm-12">
  <h2>Name: {{ department.name }} </h2>
  <h2>Description: {{ department.description }} </h2>
  {% if opvac %}
  <h2>Opened vacancy are in this department</h2>
  {% else %}
  <h2>No opened vacancy in this department</h2>
  {% endif %}
  <h2>Workers in this department:</h2>
    {% if not workers %}
    <h3>Sorry, no workers in this deparment.</h3>
    {% endif %}
      {% for d in workers %}
        {% if d.ishead %}
          <h3><a href="/workers/{{ d.id }}">{{ d.name }} {{ d.surname }}</a><i> - head of department</i></h3>
        {% else %}
          <h3><a href="/workers/{{ d.id }}">{{ d.name }} {{ d.surname }}</a></h3>
        {% endif %}
      {% endfor %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
</body>
</html>