<!DOCTYPE html>
<html>
<head>
  <title>Main page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <h1 class="text-center">Welcome!</h1>
  <div class="col-sm-6">
    <h2 class="text-center"><a href="/departments">Departments</a></h2>
  </div>
  <div class="col-sm-6">
    <h2 class="text-center"><a href="/positions">Positions</a></h2>
  </div>
  <div class="col-sm-6">
    <h2 class="text-center"><a href="/vacancy">Vacancy</a></h2>
  </div>
  <div class="col-sm-6">
    <h2 class="text-center"><a href="/workers">Workers</a></h2>
  </div>
</body>
</html>