<!DOCTYPE html>
<html>
  <head>
    <title>New department</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="col-sm-6"><h3 class="text-center"><a href="/">Main page</a></h3></div>
    <div class="col-sm-6"><h3 class="text-center"><a href="/departments">Back to departments</a></h3></div>
    <div class="container">
      <h1>Please input new department data</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Name" name="name" value="{{
        request.form.name }}" required> <br><br>
        <input type="text" placeholder="Description" size=120 name="description" value="{{
        request.form.description }}" required> <br><br>
        <input class="btn btn-default" type="submit" value="Add new department">
      </form><br>
      
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>