<!DOCTYPE html>
<html>
<head>
    <title>New vacancy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
  <body>
  <div class="col-sm-6"><h3 class="text-center"><a href="/">Main page</a></h3></div>
  <div class="col-sm-6"><h3 class="text-center"><a href="/vacancy">Back to vacancy</a></h3></div>
  <h1 class="text-center">Please input new vacancy data</h1>
    <div class="container">
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Name" name="name" value="{{
        request.form.name }}" required> <br><br>
        <select name="idd" class="selectpicker form-control" required>
        <option value="">None</option>
        {% for d in deps %}
          <option value="{{ d.id }}">{{ d.name }}</option>
          <br><br>
        {% endfor %}
        </select>
        <br><br>
        <input class="btn btn-default" name="input1" type="submit" value="Add new vacancy">
      </form><br>
      
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>