<!DOCTYPE html>
<html>
  <head>
    <title>New worker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please input name</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Name" name="name" value="{{
        request.form.name }}" required> <br><br>
        <input type="text" placeholder="Surname" name="surname" value="{{
        request.form.surname }}" required> <br><br>
        <input type="email" placeholder="Email" name="email" value="{{
        request.form.email }}" required> <br><br>
        <input type="tel" placeholder="Phone number" pattern="^\+\d{12}$" name="phone" value="{{ request.form.phone }}" required> <br><br>
        <input type="date" placeholder="Birth day" name="bdate" value="{{
        request.form.bdate }}" required> <br><br>
        <input class="btn btn-default" type="submit" value="Add new worker">
      </form><br>
      
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>