<!DOCTYPE html>
<html>
<head>
  <title>{{ position.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
 <body>
  <div class="col-sm-4"><h3 class="text-center"><a href="/">Main page</a></h3></div>
  <div class="col-sm-4"><h3 class="text-center"><a href="/positions">Back to positions</a></h3></div>
  <div class="col-sm-4"><h3 class="text-center"><a href="/positions/{{ position.id }}/change">Change position data</a></h3></div>
  <div class="col-sm-12">
	<h2>Position name: {{ position.name }} </h2>
	<h2>Description: {{ position.description }} </h2>
	<h2>This position owned by department: <a href="/departments/{{ dep.id }}">{{ dep.name }}</a></h2>
  </div>
</body>
</html>