<!DOCTYPE html>
<html>
<head>
  <title>{{ user.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
  <body>
  <div class="col-sm-4"><h3 class="text-center"><a href="/">Main page</a></h3></div>
  <div class="col-sm-4"><h3 class="text-center"><a href="/workers/">Back to workers</a></h3></div>
  <div class="col-sm-4"><h3 class="text-center"><a href="/workers/{{ user.id }}/change">Change worker data</a></h3></div>
  <div class="col-sm-12">
  <h2>Name: {{ user.name }} </h2>
  <h2>Surname: {{ user.surname }} </h2>
  <h2>Email: {{ user.email }} </h2>
  <h2>Phone number: {{ user.phone }} </h2>
  <h2>Birth date: {{ user.bdate }} </h2>
  {% if user.idp %}
    <h2>Curretly on position: <a href="/positions/{{ position.id }}">{{ position.name }}</a></h2>
    <h2>In department: <a href="/departments/{{ position.idd }}">{{ dep.name }}</a> </h2>
    <h2>Employment date: {{ user.edate }} </h2> 
    <form action="" method="post" width="50%">
      <select name="idd" class="selectpicker form-control" required>
        <h3>Move this worker to department</h3>
        <option value="">None</option>
        {% for d in deps %}
          {% if d.id != position.idd %}
            <option value="{{ d.id }}">{{d.name}} </option>
          {% endif %}
        {% endfor %}
      </select><br>
      <input class="btn btn-default" type="submit" name="moveworker" value="Move this worker">
    </form><br>
    <form action="" method="post">
      <input class="btn btn-default" type="submit" name="makehead" value="Make this worker head of department">
    </form><br>
    <form action="" method="post">
      <input class="btn btn-default" type="submit" name="fireworker" value="Fire this worker">
    </form><br>
    {% else %}
      <h2>Worker currently unemployed</h2>
    {% endif %}
    <form action="" method="post">
      <input class="btn btn-default" type="submit" name="deleteworker" value="Delete this worker">
    </form><br><br>
    <h2>Worker history:</h2>
    <table width="100%">
      <tr>
        <th>Employment date</th>
        <th>Position</th>
        <th>Department</th>
      </tr>
      {%  for d in wh %}
        <tr>
          <th>  {{ d.edt }}  </th>
          <th>  {{ whptable[loop.index - 1] }}  </th>
          <th>  {{ whdtable[loop.index - 1] }}  </a></th>
        </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>