<!DOCTYPE html>
<html>
<head>
  <title>{{ vac.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="col-sm-4"><h3 class="text-center"><a href="/">Main page</a></h3></div>
  <div class="col-sm-4"><h3 class="text-center"><a href="/vacancy">Back to vacancies</a></h3></div>
  <div class="col-sm-4"><h3 class="text-center"><a href="/vacancy/{{ vac.id }}/change">Change vacancy data</a></h3></div>
  <div class="col-sm-12">
  <h2>Name: {{ vac.name }} </h2>
  <h2>Description: {{ pos.description }} </h2>
  <h2>Creation date: {{ vac.stdate }} </h2>
  {% if vac.oc %}
    <h2>Vacncy now is active</h2>
    <h2>Pick worker:</h2>
    <form action="" method="post">
      <div class="col-sm-4">
        <select name="id" class="selectpicker form-control" required>
        <option value="">None</option>
        {% for d in work %}
          <option value="{{ d.id }}">{{ d.name }} {{ d.surname }}</option>
        {% endfor %}
        </select><br>
      </div>
      <input class="btn btn-default" type="submit" name="add" value="Select this worker for vacancy">
    </form><br>
  {% else %}
    <h2>Vacancy currently is inactive</h2>
    <h2>Deactivating time: {{ vac.cldate }} </h2>
    <form action="" method="post">
      <input class="btn btn-default" type="submit" name="reactivate" value="Reactivate vacancy">
    </form><br>   
  {% endif %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
</body>
</html>